<%- include('partials/header') %>
  <style>


  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}


  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  </style>
<!-- this is main page of the outliers web site
                                                 the page including welcome note and the app name-->

<h1>Welcome</h1>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">We are Outliers</h1>
     
    </div>
  </div>
  <video autoplay muted loop class="drowsy">
    <!-- vedio is muted and run as a loop-->
    <source src="img/drowsy.mp4" type="drowsy/mp4">
 </video>


<%- include('partials/footer') %>