<%- include('partials/header') %>

<section class="jumbotron text-center">
    <div class="container">
      <h1>Drowseness Detection System</h1>
      <p class="lead text-muted">We are Outliers. warmly Welcome to our app. Join with us</p>
      <form class="form-signin">
        <img class="mb-4" src="img/logo.jpeg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="Name" id="inputName" class="form-control" placeholder="Name" required="">
        <label for="inputName" class="sr-only">Age</label>
        <input type="age" id="inputAge" class="form-control" placeholder="Age" required="">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      
      <p>
        <a href="/activelevel" class="btn btn-primary my-2">Active Level</a>
        <a class="btn btn-secondary my-2" href="/hartrate">Hart Rate</a>
        <a class="btn btn-dark" href="/handmotion"> Motion</a>
      </p>
    </div>
</section>

<%- include('partials/footer') %>