<%- include('partials/header') %>

<section class="jumbotron text-center">
    <div class="container">
      <h1>Drowseness Detection System</h1>

      <p class="lead text-muted">We are Outliers. warmly Welcome to our app. Join with us</p>
      <form class="form-signin">
        <img class="mb-4" src="img/logo.jpeg" alt="" width="72" height="72">
    
      
      <p>
        <a href="/activelevel" class="btn btn-primary my-2">Active Level</a>
        <a class="btn btn-secondary my-2" href="/hartrate">Hart Rate</a>
        <a class="btn btn-dark" href="/handmotion"> Motion</a>

      <p class="lead text-muted">Something short and leading about the collection skip over it entirely.</p>
     
    </div>
</section>



<%- include('partials/footer') %>