<%- include('partials/header') %>

 
  <style>

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}


  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  </style>

<h1>Welcome</h1>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">We are Outliers</h1>
     
    </div>
  </div>



<%- include('partials/footer') %>